<div id="matchup-admin" class="container">
    <div class="row">
        <div class="col-sm-12 container-body">
            <h4 class="title" ng-bind="vm.title"></h4>

            <div ng-hide="vm.user.isGuest" class="actions-container text-center row">
                <!--<md-button class="btn btn-primary btn-submit blue col-xs-10 col-sm-3 clear-float" ui-sref="matchup.list">List</md-button>-->
                <md-button class="btn btn-primary btn-submit blue col-xs-10 col-sm-3 clear-float" ui-sref="matchup.create">Create</md-button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <md-content>
                <md-input-container>
                    <input ng-model="resultSearch.$" placeholder="Search">
                </md-input-container>

                <md-card>
                    <md-table-container>
                        <table md-table md-progress="vm.promise">
                            <thead md-head md-order="vm.query.order">
                            <tr md-row>
                                <th md-column md-order-by="id"><span>ID</span></th>
                                <th md-column md-numeric><span>Fighter 1</span></th>
                                <th md-column md-numeric><span>Fighter 2</span></th>
                                <th md-column md-numeric md-order-by="eventId"><span>Event ID</span></th>
                                <th md-column md-order-by="hasTiebreaker"><span>Has Tiebreaker</span></th>
                                <th md-column><span>Actions</span></th>
                            </tr>
                            </thead>
                            <tbody md-body>
                            <tr md-row md-select="result"
                                md-auto-select="vm.options.autoSelect"
                                ng-repeat="matchup in vm.matchupList | filter:resultSearch | orderBy: vm.query.order | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit">

                                <td md-cell>{{matchup.id}}</td>
                                <td md-cell>{{matchup.fighter1firstName}}&nbsp;{{matchup.fighter1lastName}}</td>
                                <td md-cell>{{matchup.fighter2firstName}}&nbsp;{{matchup.fighter2lastName}}</td>
                                <td md-cell>{{matchup.eventId}}</td>
                                <td md-cell>{{matchup.hasTiebreaker}}</td>

                                <td md-cell>
                                    <a ui-sref="matchup.edit({id: matchup.id})" class="icon-link icon-link-edit">
                                        <ng-md-icon icon="mode_edit"></ng-md-icon>
                                    </a>
                                    <a class="icon-link icon-link-delete" ng-click="vm.showConfirm($event, matchup.id)">
                                        <ng-md-icon icon="delete"></ng-md-icon>
                                    </a>
                                    <!--<ng-md-icon icon="delete"></ng-md-icon>-->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </md-table-container>

                    <md-table-pagination
                            md-limit="vm.query.limit"
                            md-page="vm.query.page"
                            md-total="{{vm.matchupListCount}}"></md-table-pagination>
                </md-card>
            </md-content>
        </div>
    </div>
</div>