@import '../shared/variables';

html {
    font-size: 16px; /* set base font */
}

body {
    /* em calculator: http://pxtoem.com/ */
    font-size: 62.5%; /* 1em = 10px (target / context = result; 10px/16px) */
}

.spin {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 800ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-out;

    -moz-animation-name: spin;
    -moz-animation-duration: 800ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-out;

    -ms-animation-name: spin;
    -ms-animation-duration: 800ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: ease-out;

    animation-name: spin;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

/**** override bootstrap ****/
.btn {
    height: 42px;
    padding: 0 42px;
    line-height: 3em;
}

.btn-submit {
    color: #fff;
}

/* Modules will scale with document */
.header {
    font-size: 1.5rem;
}

.container {
    @media screen and (min-width: $break-xs) {
        padding: 0;
        font-size: $xs-container-font-size;
        width: 100%;
    }

    @media screen and (min-width: $break-sm) {
        font-size: $sm-container-font-size;
    }

    @media screen and (min-width: $break-md) {
        font-size: $md-container-font-size;
    }

    @media screen and (min-width: $break-lg) {
        font-size: $lg-container-font-size;
    }

    .container-body {
        font-size: 1.250em;
        font-weight: 400;
        letter-spacing: .010em;
        line-height: 1.429em;
    }

    .title {
        font-size: 2.250em;
        color: $titleColor;
        text-align: center;
    }

    .subtitle {
        font-size: 1.4em;
        line-height: 1.3em;
        color: $subTitleColor;
    }
}

/**** override material design ****/
md-sidenav {
    md-list md-item {
        font-size: 1.8rem;
        line-height: 4rem;
    }
}

/**** md form ****/
md-radio-button {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 0;
    font-size: 1.3rem;
}
md-input-container {
    margin-bottom: 0px;
    padding: 2px;
    width: 100%;
}
md-input-container .md-errors-spacer {
    float: right;
    min-height: 0;
    min-width: 1px;
}
md-input-container.md-input-has-placeholder label:not(.md-no-float), md-input-container.md-input-has-value label:not(.md-no-float) {
    -webkit-transform: translate3d(0,6px,0) scale(1);
    transform: translate3d(0,6px,0) scale(1);
}

md-select {
    margin: 0px;
}
md-select[required]:after {
    content: '*';
    color: #ff0000;
}

md-select-value {
    color: #0091EA;
}
md-select:not([disabled]):focus .md-select-value {
    color: #0091EA;
}

.md-button {
    padding: 0 6px 0 6px;
    margin: 6px 8px 6px 8px;
    min-width: 88px;
    border-radius: 3px;

//    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    text-decoration:none;
    border: none;
    outline: none;
}

/**** md table ****/
md-table-container {}
md-table-container ng-md-icon {
    margin-right: 15px;
}

md-table-pagination .label {
    color: #222;
}

/**** md dialog ****/
.dialogdemoBasicUsage #popupContainer {
    position: relative;
}
.dialogdemoBasicUsage .footer {
    width: 100%;
    text-align: center;
    margin-left: 20px;
}
.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
    font-size: 0.8em;
    margin-top: 50px;
}
.dialogdemoBasicUsage button {
    width: 200px;
}
.dialogdemoBasicUsage div#status {
    color: #c60008;
}

/**** global style ****/
.pkms-text-fluid {
    line-height: 1.5em;

    @media screen and (min-width: $break-sm) {
        font-size: 1.4em;
    }

    @media screen and (min-width: $break-lg) {
        font-size: 1.8em;
    }

    @media screen and (min-width: $break-xlg) {
        font-size: 2.0em;
        max-width: 80%;
    }
}

.pre-load-container {
    margin-top: 5em;
}

#growl-holder {
    .growl {
        position: fixed;
        top: auto;
        bottom: 10px;
        left: 10px;
        width: 250px;

        .alert {
            position: relative !important;
            bottom: 0px;
            left: 0;
            width: 100%;
            z-index: 10000;
        }

        .growl-item.ng-enter {
            -webkit-transition:.5s linear all;
            -moz-transition:.5s linear all;
            -o-transition:.51s linear all;
            transition:.5s linear all;
        }
        .growl-item.ng-leave {
            -webkit-transition:1s linear all;
            -moz-transition:1s linear all;
            -o-transition:1s linear all;
            transition:1s linear all;
        }
    }
}

.select-container {
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 50px;
}
.form-group label,
.form-group .form-label {
    margin-top: 10px;
    margin-right: 5px;
    color: #666;
    font-size: 1.4em;
    font-weight: bold;
}

.form-label {
    position: relative;
    margin-bottom: -0.9%;
    font-size: 1.3rem;
}

.form-label + md-checkbox {
    @media screen and (min-width: $break-xs) {
        top: 6px;
    }

    @media screen and (min-width: $break-sm) {
        top: 8px
    }

    @media screen and (min-width: $break-md) {
        top: 12px
    }

    @media screen and (min-width: $break-lg) {
        top: 14px
    }

    vertical-align: top;
}

.dropdown-container {
    position: absolute;
    width: auto;
    height: auto;
    background-color: #fff;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, .2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, .2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
    visibility: hidden;

    &.active {
        visibility: visible;
    }

    ul li {
        padding: 10px;
        color: rgb(244,67,54);
    }
}

/**** shared REST styles ****/
.list-container {
    .list-item {
        margin-bottom: 20px;
        background-color: rgba(0, 0, 0, .1);
        cursor: pointer;
    }
}

/**** helpers ****/
.clear-float {
    float: none;
}
.center-relative {
    position: relative;
    margin: 0 auto;
}
p.center-relative {
    margin-bottom: 20px;
}

.disabled {
    pointer-events: none;
}

#debug-holder {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 200px;
	height: 100px;
	z-index: 100;
    pointer-events: none;

    display: none;
}

#debug-holder .debug-content{
	color: #fff;
	z-index: 1;
}

#debug-holder .debug-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #222;
	opacity: .9;
	z-index: -1;
}

.debug-border {
    border: 1px solid #ff0066;
}
