/*==========  Mobile First Method  ==========*/
$break-xs: 320px; /* Custom, iPhone Retina */
$break-sm: 480px; /* Extra Small Devices, Phones */
$break-md: 768px; /* Small Devices, Tablets */
$break-lg: 992px; /* Medium Devices, Desktops */
$break-xlg: 1200px; /* Large Devices, Wide Screens */

/*==========  Style  ==========*/
$xs-container-font-size: 0.5rem;
$sm-container-font-size: 0.6rem;
$md-container-font-size: 0.9rem;
$lg-container-font-size: 1.0rem;
$titleColor: #D50000;

$xs-subtitle-size: 0.9rem;
$sm-subtitle-size: 1.4rem;
$md-subtitle-size: 1.6rem;
$subTitleColor: #D50000;