<div id="user-list-container" class="container">
    <div class="row">
        <div class="col-sm-12 container-body">
            <h4 class="title" ng-bind="vm.title"></h4>
            <div class="list-container">
                <div class="user-item list-item" ui-sref="user.item({id: user.id})" ng-repeat="user in vm.userList">
                    <div ng-repeat="(key, value) in user">
                        <div class="user-item-{{key}}"><strong>{{key}}:&nbsp;</strong>{{value}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>