<div id="home-container" class="container">
    <div class="row">
        <div class="col-sm-12 container-body">
            <section ng-if="vm.isOpenEnrollment === '1' && vm.isActiveUser === false" class="text-center">
                <div class="content">
                    <h4 class="title">Open Enrollment for Round {{vm.round}}</h4>

                    <div class="paypal-container text-center">
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="4A3Q5UMEL48BG">
                            <button type="submit" class="btn btn-primary blue" ng-click="vm.handleEnrollClick()">I'm In! Paypal Now</button>
                        </form>
                    </div>

                    <br/>
                    <div id="btn-enroll" class="btn-primary blue btn text-center" ng-click="vm.handleEnrollClick()">I'm In! Pay Other</div>
                </div>
            </section>

            <section ng-if="vm.isActiveUser === true && vm.hasPaid === '0'" class="not-paid-container">
                <h4 class="title">Not Paid</h4>

                <p class="center-relative center-relative text-center">
                    If you have already paid, please ignore this.  If you have not please do so below.
                </p>

                <div class="paypal-container text-center">
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="4A3Q5UMEL48BG">
                        <button type="submit" class="btn btn-primary blue">Paypal Now.</button>
                    </form>
                </div>
            </section>

            <h2 class="title">
                UFC Pickems is a fantasy eSport contest where you pick which fighter you think will win.
                <br/>
                Pick more correct fighters than the competition for a prize.
            </h2>

            <section class="rules text-center">
                <h4 class="title">Rules</h4>
                <div class="rules-list-container text-left">
                    <ul>
                        <li>* Pick the fighter you think will win the fight</li>
                        <li>* Picks are going to be made for all UFC events (Fight Pass, Fox Sports, Fox, Pay Per View)</li>
                        <li>* Pick the correct fighter and get 1 point</li>
                        <li>* The winner is the person who gets the most points at the end of the round</li>
                        <li>* The rounds are quarterly, spanning Jan - Mar, Apr - June, July - Sep, Oct - Dec</li>
                        <li>* At the end of each round the scores will be reset and a new round will begin</li>
                        <li>* Awards will be for 1st (50%), 2nd (30%), and 3rd (20%) place</li>
                        <li>* In the event of a tie, tiebreaker points will be counted</li>
                    </ul>
                </div>
            </section>

            <section class="tiebreakers">
                <h4 class="title">Tiebreakers</h4>
                <p class="center-relative">
                    Tiebreakers consist of choosing the outcome for the main event. For example, Jon Jones (t/ko, rd4).
                    <br/>
                    You will get <strong>one point if you choose the correct method</strong> and <strong>one point if
                    you choose the correct round.</strong>
                    <br/>
                    There are <strong>two points total</strong> you can get for each tiebreaker.
                    <br/>
                    If you choose <strong>decision</strong>, you can <strong>only get one point</strong> if you are correct.
                    <br/>
                    <strong>You do not get any tiebreaker points if you don't choose the winner of the fight correctly.</strong>
                    <br/>
                    If at the the end of the round there is a tie, tiebreaker points will be counted and the person
                    with the most points will win.
                </p>
            </section>

            <section class="text-center">
                <h4 class="title">General Info</h4>
                <div class="rules-list-container text-left">
                    <ul>
                        <li>* Picks must be submitted at least 1 hour before the main event begins.</li>
                        <li>* Open enrollment begins on the 1st day of each quarter.</li>
                        <li>* Open enrollment ends 1 hour before the first event of the new round.</li>
                        <li>* You will receive email notifications (make picks, changes to the fight card).</li>
                    </ul>
                </div>
            </section>

            <section class="payout text-center">
                <h4 class="title">Awards</h4>
                <div class="payout">
                    <p class="center-relative">The rewards for each round will be as follows:</p>
                    <div class="list-holder center-relative">
                        <ul>
                            <li>1st place = 50%</li>
                            <li>2nd place = 30%</li>
                            <li>3rd place = 20%</li>
                        </ul>
                    </div>
                </div>
            </section>

            <section class="contact text-center">
                <h4 class="title">Contact</h4>
                <div class="contact-info center-relative">
                    <div>Contact <a href="mailto:johnaleman@gmail.com">John</a> if you are having technical issues.</div>
                </div>
            </section>
        </div>
    </div>
</div>