<div id="notify-container" class="container">
    <div class="row">
        <div class="col-sm-12">
            <h4 class="title">{{vm.name}}</h4>

            <form name="vm.form.notify" novalidate>
                <div id="select-note-type" class="group-type-radio form-group">
                    <div class="form-label">Select Notification Type:</div>
                    <md-radio-group ng-model="vm.data.type" ng-change="vm.handleTypeChange()">
                        <md-radio-button ng-value="vm.EVENT.PICKS_REMINDER">Picks Reminder</md-radio-button>
                        <md-radio-button ng-value="vm.EVENT.EVENT_OPEN">Event Open</md-radio-button>
                        <md-radio-button ng-value="vm.EVENT.EVENT_CLOSING">Event Close</md-radio-button>
                        <md-radio-button ng-value="vm.EVENT.MATCHUP_CHANGE">Matchup Change</md-radio-button>
                        <md-radio-button ng-value="vm.EVENT.OPEN_ENROLLMENT">Open Enrollment</md-radio-button>
                    </md-radio-group>
                </div>

                <md-input-container class="content-container md-block">
                    <label>Content</label>
                    <textarea ng-model="vm.data.content" rows="5" md-select-on-focus></textarea>
                </md-input-container>

                <div class="actions-container text-center">
                    <button type="submit"
                            class="btn btn-primary blue"
                            ng-class="{disabled: vm.isLoading === true}"
                            ng-click="vm.submitForm(vm.form.notify.$valid)"
                            ng-disabled="vm.form.notify.$invalid || vm.isLoading === true">Send
                    </button>
                </div>

                <div ng-show="vm.formState.displaySelectEvent" id="select-event-container" class="component-dropdown form-group">
                    <md-input-container>
                        <input ng-model="eventSearch.$" placeholder="Search Event">
                    </md-input-container>
                    <md-select ng-model="vm.data.eventId"
                               ng-model-options="{trackBy: '$value'}"
                               aria-label="Select Event"
                               placeholder="Select Event"
                               ng-change="vm.handleEventChange()">
                        <md-option ng-value="event.id"
                                   ng-repeat="event in (vm.filteredEventList = (vm.eventList | filter:eventSearch))">
                            {{event.name}}
                        </md-option>
                    </md-select>
                </div>

                <div ng-show="vm.formState.displaySelectFighter1" id="select-fighter-1-container" class="component-dropdown form-group">
                    <md-input-container>
                        <input ng-model="fighterSearch1.$" placeholder="Search Fighter">
                    </md-input-container>
                    <md-select ng-model="vm.data.fighterId1"
                               ng-model-options="{trackBy: '$value'}"
                               aria-label="Select Fighter"
                               placeholder="Select Fighter"
                               ng-change="vm.handleFighter1Change()">
                        <md-option ng-value="fighter.id"
                                   ng-repeat="fighter in (vm.filteredFighterList1 = (vm.fighterList1 | filter:fighterSearch1))">
                            {{fighter.lastName}}, {{fighter.firstName}}
                        </md-option>
                    </md-select>
                </div>

                <div ng-show="vm.formState.displaySelectFighter2" id="select-fighter-2-container" class="component-dropdown form-group">
                    <md-input-container>
                        <input ng-model="fighterSearch2.$" placeholder="Search Fighter">
                    </md-input-container>
                    <md-select ng-model="vm.data.fighterId2"
                               ng-model-options="{trackBy: '$value'}"
                               aria-label="Select Fighter 2"
                               placeholder="Select Fighter 2"
                               ng-change="vm.handleFighter2Change()">
                        <md-option ng-value="fighter.id"
                                   ng-repeat="fighter in (vm.filteredFighterList2 = (vm.fighterList2 | filter:fighterSearch2))">
                            {{fighter.lastName}}, {{fighter.firstName}}
                        </md-option>
                    </md-select>
                </div>
            </form>
        </div>
    </div>
</div>