<div id="make-your-picks-container" class="container">
    <div class="row">
        <div class="col-sm-12 container-body">
            <div ng-if="vm.isLoading" class="pre-load-container text-center">
                <i class='glyphicon glyphicon-repeat medium spin'></i>
            </div>

            <div ng-if="!vm.isLoading" class="event-container">
                <div ng-if="vm.eventList.length === 0" class="text-center">
                    <h4 class="title">No upcoming events, please check back later.</h4>
                </div>

                <h4 class="title">Click Event To Make Your Picks</h4>

                <div ng-if="vm.eventList.length > 0">
                    <!-- open events -->
                    <!--<div class="subtitle text-center">Open Events</div>-->
                    <div ng-repeat="event in vm.getOpenEvents()">
                        <make-your-picks-event-item event="event"></make-your-picks-event-item>
                    </div>

                    <!-- closed events -->
                    <div class="subtitle text-center">Closed Events</div>
                    <div ng-repeat="event in vm.getClosedEvents()">
                        <make-your-picks-event-item event="event"></make-your-picks-event-item>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>