@import '../shared/variables';

#make-your-picks-container {
    .event-container {
        margin-bottom: 100px;
    }

    .event-header {
        margin-bottom: 30px;
    }

    .matchup-container {
        margin-bottom: 20px;

        .matchup {
            margin-bottom: 60px;

            &:last-child {
                margin-bottom: 0;
            }
        }
        @media screen and (min-width: $break-md) {
            .matchup {
                margin-bottom: 20px;
            }
        }

        .fighter-name {
            display: inline-block;
            margin: 6px 0;
            padding: 0.1984126984127em 0.3968253968254em;
//            font-size: 0.7em;
            background-color: #eee;
            cursor: pointer;

            &.selected {
                background-color: #ffcc00;
            }
        }

        .vs {
            display: inline-block;
            font-size: 1.5em;
        }
    }

    .fighter-names-container {
        margin-bottom: 10px;
//        font-size: 2em; /* scaling is not clean */
    }
}