<div id="result-container" class="container">
    <div class="row">
        <div class="col-sm-12 container-body">
            <h4 class="title fluid" ng-bind="vm.title"></h4>

            <div ng-if="vm.isLoading" class="pre-load-container text-center">
                <i class='glyphicon glyphicon-repeat medium spin'></i>
            </div>

            <div ng-if="!vm.isLoading" id="result-list-container">
                <div class="result-item" ng-repeat="result in vm.resultList">
                    <result-event event-number="{{vm.resultList.length - $index}}" result="result" user="vm.user"></result-event>
                </div>
            </div>
        </div>
    </div>
</div>