#result-container {
    table .thead-container {
        display:inline-block;

        &.fighter-name {
            font-size: 2.0em;
        }
        &.vs {
            font-size: 1.1em;
        }
    }
}