<div id="fighter-list-container" class="container">
    <div class="row">
        <div class="col-sm-12 container-body">
            <h4 class="title" ng-bind="vm.title"></h4>
            <div class="list-container">
                <div class="fighter-item list-item" ui-sref="fighter.item({id: fighter.id})" ng-repeat="fighter in vm.fighterList">
                    <div ng-repeat="(key, value) in fighter">
                        <div class="event-item-{{key}}"><strong>{{key}}:&nbsp;</strong>{{value}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>