<div id="matchup-list-container" class="container">
    <div class="row">
        <div class="col-sm-12 container-body">
            <h4 class="title" ng-bind="vm.title"></h4>
            <div class="list-container">
                <div class="matchup-item list-item" ui-sref="matchup.item({id: matchup.id})" ng-repeat="matchup in vm.matchupList">
                    <div ng-repeat="(key, value) in matchup">
                        <div class="matchup-item-{{key}}"><strong>{{key}}:&nbsp;</strong>{{value}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>