#event-list-container {
    .list-container {
        .event-item-name {}
        .event-item-date {}
        .event-item-location {}
        .event-item-simple-item {}
    }
}

.datepickerdemoBasicUsage {
    /** Demo styles for mdCalendar. */
}

.datepickerdemoBasicUsage md-content {
    padding-bottom: 200px;
}

.datepickerdemoBasicUsage .validation-messages {
    font-size: 12px;
    color: #dd2c00;
    margin: 10px 0 0 25px;
}
