#sign-up {
    .form-holder {
        color: #000;

        label {
            min-width: 100px;
        }

        input {
            display: inline-block;
            margin: 5px 10px 20px 0px;
            padding: 10px;
            width: 100%;
            max-width: 500px;
        }

        .help-block {}
    }

    form {
        .ng-valid       {  }
        .ng-invalid     {  }
        .ng-pristine    {  }
        .ng-dirty       {  }
        .ng-touched     {  }

        /* really specific css rules applied by angular */
        .ng-invalid-required        {  }
        .ng-invalid-minlength       {  }
        .ng-valid-max-length        {  }
    }
}