<div id="sign-up" class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-2">
            <!-- header -->
            <div class="page-header">
                <h4>Sign Up</h4>
            </div>

            <!-- signup form -->
            <form name="userForm" ng-submit="vm.submitForm(userForm.$valid)" novalidate> <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->
                <!-- to validate after submitted add && vm.submitted to the has-error class conditional -->

                <!-- firstname -->
                <div class="form-group" ng-class="{ 'has-error' : userForm.firstname.$invalid && !userForm.firstname.$pristine && userForm.firstname.$touched }">
                    <label>First Name *</label>
                    <input type="text" name="firstname" class="form-control" ng-model="vm.firstname" required>
                    <p ng-show="userForm.firstname.$invalid && !userForm.firstname.$pristine && userForm.firstname.$touched" class="help-block">Your first name is required.</p>
                </div>

                <!-- lastname -->
                <div class="form-group" ng-class="{ 'has-error' : userForm.lastname.$invalid && !userForm.lastname.$pristine && userForm.lastname.$touched }">
                    <label>Last Name *</label>
                    <input type="text" name="lastname" class="form-control" ng-model="vm.lastname" required>
                    <p ng-show="userForm.lastname.$invalid && !userForm.lastname.$pristine && userForm.lastname.$touched" class="help-block">Your last name is required.</p>
                </div>

                <!-- username -->
                <div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine && userForm.username.$touched }">
                    <label>User Name *</label>
                    <input type="text" name="username" class="form-control" ng-model="vm.username" ng-minlength="3" ng-maxlength="8" required>
                    <p ng-show="userForm.username.$invalid && !userForm.username.$pristine && userForm.username.$touched" class="help-block">Your user name is required.</p>
                    <p ng-show="userForm.username.$error.minlength && userForm.username.$touched" class="help-block">Username is too short.</p>
                    <p ng-show="userForm.username.$error.maxlength && userForm.username.$touched" class="help-block">Username is too long.</p>
                </div>

                <!-- phone -->
                <div class="form-group" ng-class="{ 'has-error' : userForm.phone.$invalid && !userForm.phone.$pristine && userForm.phone.$touched }">
                    <label>Phone</label>
                    <input type="text" name="phone" class="form-control" ng-model="vm.phone" ng-pattern="/^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/">
                    <!--<p ng-show="userForm.phone.$invalid && !userForm.phone.$pristine && userForm.phone.$touched" class="help-block">Your phone number is required.</p>-->
                    <p ng-show="userForm.phone.$error.pattern && !userForm.phone.$pristine && userForm.phone.$touched" class="help-block">Please format like: 555-555-5555.</p>
                </div>

                <!-- email -->
                <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine && userForm.email.$touched }">
                    <label>Email *</label>
                    <input type="email" name="email" class="form-control" ng-model="vm.email" required>
                    <p ng-show="userForm.email.$invalid && !userForm.email.$pristine && userForm.email.$touched" class="help-block">Enter a valid email.</p>
                </div>

                <!-- password -->
                <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine && userForm.password.$touched }">
                    <label>Password *</label>
                    <input type="password" name="password" class="form-control" ng-model="vm.password" required>
                    <p ng-show="userForm.password.$invalid && !userForm.password.$pristine && userForm.password.$touched" class="help-block">You password is required.</p>
                </div>

                <!-- sign up -->
                <button type="submit" class="btn btn-primary blue col-xs-10 col-sm-3 clear-float" ng-disabled="userForm.$invalid">Sign Up</button>

            </form>

        </div>
    </div>
</div>
