@import '../../shared/variables';

.result-event-item {
    $xsFontSize: 0.625rem;
    $smFontSize: 0.9rem;
    $mdFontSize: 1.4rem;

    @media screen and (min-width: $break-xs) {
        font-size: $xsFontSize;
    }

    @media screen and (min-width: $break-sm) {
        font-size: $smFontSize;
    }

    @media screen and (min-width: $break-md) {
        font-size: $mdFontSize;
    }

    table.md-table th.md-column {
        text-align: center;
    }

    &.disabled {
        .event-name {
            cursor: default;
            opacity: .5;
            pointer-events: none;
        }
    }

    .thead-container {
        margin: 20px 0;
    }

    .event-name {
        padding: 2%;
        font-size: 1.2em;
        background: #efefef;
    }

    .matchup-text {
        margin-bottom: 10px;
    }

    .fighter-name-container,
    .user-name {
        padding: 5px 10px;
        font-size: 1.2em;
    }

    .user-name {
        .win-loss-container {
            white-space: nowrap;

            > * {
                display: inline-block;
                vertical-align: middle;
            }
        }

        .dash-divider {
            margin: 0 5px;
        }
    }

    .winner {
        background-color: rgba(255, 255, 0, .5);
    }

    .finish-details {
        font-weight: bold;
        line-height: 1.1em;

        .detail-round,
        .detail-finish-type {
            display: inline-block;
        }
    }
}