<div class="result-event-item"
     ng-class="{disabled: (result.event.status == 1 && vm.user.role != 1)}"
     ng-disabled="result.event.status == 1  && vm.user.role != 1">

    <h4 class="event-name title fluid text-center" ng-click="vm.handleEventClick()">({{vm.eventNumber}})&nbsp;{{result.event.name}}</h4>

    <div ng-show="vm.display" class="matchup-container">
        <md-content>
            <md-input-container>
                <input ng-model="resultSearch.$" placeholder="Search">
            </md-input-container>
            <md-card>
                <md-table-container>
                    <table md-table md-progress="result.promise">
                        <thead md-head>
                        <tr md-row>
                            <th md-column><div>&nbsp;</div></th>
                            <th md-column md-order-by="userName"><span></span></th>
                            <!-- loop through matchups -->
                            <th md-column ng-repeat="matchup in result.matchup">
                                <div class="thead-container">
                                    <div class="matchup-text text-center">
                                        <div class="fighter-name" ng-class="{winner: matchup.winnerID == matchup.fighter1ID}">{{matchup.fighter1FullName}}</div>
                                        <div class="vs">vs</div>
                                        <div class="fighter-name" ng-class="{winner: matchup.winnerID == matchup.fighter2ID}">{{matchup.fighter2FullName}}</div>
                                    </div>
                                    <div class="finish-details text-center">
                                        <div class="detail-round">Round: {{matchup.roundName}}</div>
                                        <div class="detail-finish-type">{{matchup.finishTypeName}}</div>
                                    </div>
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody md-body>
                        <!-- loop through user list -->
                        <tr md-row md-select="userItem"
                            md-on-select="vm.logItem"
                            md-auto-select="vm.options.autoSelect"
                            ng-repeat="userItem in result.userPicksData.userList | filter:resultSearch | orderBy: result.query.order | limitTo: result.query.limit : (result.query.page -1) * result.query.limit">

                            <td md-cell><div class="text-center">{{$index + 1}}</div></td>

                            <td md-cell>
                                <div class="user-name text-center">
                                    <div class="name">{{userItem.name}}</div>
                                    <div class="win-loss-container">
                                        <div class="win-total">{{userItem.winTotal}}</div>
                                        <div class="dash-divider">-</div>
                                        <div class="loss-total">{{userItem.lossTotal}}</div>
                                        <div class="tiebreaker-total" title="tiebreaker points">&nbsp;(T: {{userItem.tiebreakerTotal}})</div>
                                    </div>
                                </div>
                            </td>
                            <!-- loop through user pick list -->
                            <td ng-if="userItem.pickList.length > 0" md-cell ng-repeat="pickItem in userItem.pickList">
                                <div class="fighter-name-container text-center" ng-class="{winner: pickItem.win == 1}">
                                    <div class="fighter-name">{{pickItem.fighterName}}</div>
                                    <div ng-if="pickItem.hasTiebreaker === 1" class="">{{pickItem.finishTypeName}} - {{pickItem.roundName}}</div>
                                </div>
                            </td>

                            <!-- if no picks, display dash -->
                            <td ng-if="userItem.pickList.length === 0" md-cell>
                                <div class="fighter-name-container text-center">
                                    <div class="fighter-name"> - </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <md-table-pagination
                        ng-hide="true"
                        md-limit="result.query.limit"
                        md-page="result.query.page"
                        md-total="{{result.userPicksData.userList.length}}"
                        md-on-paginate="vm.logPagination"></md-table-pagination>
            </md-card>
        </md-content>
    </div>
</div>