<div id="login" class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <h4 class="title" ng-bind="vm.title"></h4>

            <form name="vm.form.loginForm" ng-submit="vm.submitForm(vm.form.loginForm.$valid)" form-autofill-fix autocomplete="off" novalidate>
                <md-input-container class="form-group">
                    <label>Email</label>
                    <input required type="email" name="email" ng-model="vm.email"
                           minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                    <div ng-messages="vm.form.loginForm.email.$error" role="alert">
                        <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                            Your email must be between 10 and 100 characters long and look like an e-mail address.
                            {{vm.form.loginForm.email.$error}}
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="form-group">
                    <label>Password</label>
                    <input required type="password" name="password" ng-model="vm.password" minlength="1" />
                    <div ng-messages="vm.form.loginForm.password.$error" role="alert">
                        <div ng-message-exp="['required', 'minlength']">
                            Your password must be at least 6 characters long.
                        </div>
                    </div>
                </md-input-container>

                <div class="remember-me-group form-group">
                    <label class="form-label">Remember Me</label>
                    <md-checkbox
                            ng-model="vm.rememberMe"
                            aria-label="Remember Me"
                            ng-true-value="1"
                            ng-false-value="0"
                            class="md-warn md-align-top-left" flex>
                    </md-checkbox>
                </div>

                <div class="actions-container text-center form-group">
                    <div class="btn-container">
                        <button type="submit" class="btn btn-primary blue" ng-disabled="vm.form.loginForm.$invalid">Login</button>
                    </div>

                    <div class="btn-container">
                        <button class="btn btn-primary red" ng-disabled="vm.form.loginForm.email.$invalid" ng-click="vm.handleForgotPassword($event);">Forgot Password</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
