#menu-container {
    position: relative;
    height: 47px;

    #menu-tracker {
        position: absolute;
        width: 56px;
        height: 10px;
        background-color: orange;
        left: 11px;
        bottom: 0;
    }

    #menu-tracker.animate {
        -moz-transition: all, 0.4s, ease-out;
        -o-transition: all, 0.4s, ease-out;
        -webkit-transition: all, 0.4s, ease-out;
        transition: all, 0.4s, ease-out;
    }

    /* set class names to be the same as state name */
    #menu-tracker.home {
        width: 56px;
        left: 11px;
    }
    #menu-tracker.make-your-picks {
        width: 158px;
        left: 88px;
    }
    #menu-tracker.results {
        width: 68px;
        left: 268px;
    }
    #menu-tracker.standings {
        width: 94px;
        left: 358px;
    }
    #menu-tracker.update-profile {
        width: 136px;
        left: 475px;
    }
    #menu-tracker.admin {
        margin-bottom: 0;
        width: 62px;
        left: 632px;
    }
    #menu-tracker.signup {
        width: 68px;
        left: 87px;
    }
    #menu-tracker.logout {
        width: 67px;
        left: 717px;
    }
    #menu-tracker.login {
        width: 53px;
        left: 176px;
    }
}