<div id="fighter-create" class="container">
    <div class="row">
        <div class="xs-col-12 container-body">
            <h4 class="title" ng-bind="vm.title"></h4>

            <form name="vm.form.fighterForm">
                <md-input-container>
                    <input name="firstName" ng-model="vm.fighter.firstName" placeholder="First Name" required>
                    <div ng-messages="vm.form.fighterForm.firstName.$error">
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <input name="lastName" ng-model="vm.fighter.lastName" placeholder="Last Name" required>
                    <div ng-messages="vm.form.fighterForm.lastName.$error">
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>

                <div class="actions-container text-center form-group">
                    <button type="submit" class="btn btn-primary blue" ng-click="vm.save(vm.form.fighterForm.$valid)">{{vm.fighter.id ? 'Update' : 'Create'}}</button>
                </div>
            </form>
        </div>

    </div>
</div>