* {
	font-family: RobotoRegular, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	outline: 0; /* remove glow */
}

/**** bootstrap overrides ****/
ul {
	margin: 0;
}
ul li {
	list-style: none;
}

form {

}

form input {
	/*width: 500px;*/
}

input[type="button"], input[type="reset"], input[type="submit"] {
	/*display:inline-block;*/
}

.row {
	margin: 0 !important;
}

.navbar {
	margin-bottom: 0px !important;
}

.grid-view .button-column {
	/*width: 75px;*/
	width: 30%;
	text-align: right;
}

.grid-view .button-column a {
	padding: 10px 20px;
}

/**** md buttons ****/
.btn1 {
	color: #fff;
	background-color: #66bb6a;
	border-radius: 10px 0 0 10px;
	font-size: 16px;
}

.btn1:not([disabled]):hover {
	color: #fff;
	background-color: #43a047;
}

.btn1[disabled] {
	color: #fff;
	background-color: #e8f5e9;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
	background-color: #428bca;
	border-color: #428bca;
}

/**** pagination ****/
.pagination {

}

/****  ****/
.span-19,
.span-5.last {
	position: relative !important;
	display: block !important;
}

.span-19 {
	/*float: left !important;*/
	width: 80% !important;
}

.span-5.last {
	/*float: right !important;*/
	top: 55px !important;
	width: 20% !important;
}

/**** general ****/
.pointer {
	cursor: pointer;
}

.admin-menu{

}

#sidebar {

}

/**** general: admin ****/
.admin {
	margin-bottom: 20px;
	background-color: khaki;
	cursor: pointer;
}

.admin .admin-options{
	
}


/**** admin create matchup ****/

/**** main navigation ****/
#main-nav {

}

#main-nav ul {

}

#main-nav li {
	padding: 15px;
	color: #777777;
	text-decoration: none;
	text-shadow: 0 1px 0 #ffffff;
	cursor: pointer;
}

#main-nav li a {
	padding: 0;
	pointer-events: none;
}

/**** page: login ****/

/**** page: home ****/
#page-home {

}
#page-home h2 {
	text-align: center;
}
#page-home p {
	text-align: left;
}

#page-home .text-center p {
	text-align: center;
}

#page-home .header {}

#page-home .content {
	font-size: 1.3em;
	text-align: center;
}

#page-home .content .rules {
	margin-bottom: 20px;
}

#page-home .content .payout {
	text-align: center;
	margin-bottom: 50px;
}

#page-home .content .contact-btn {
	margin-bottom: 10px;
	text-align: center;
	cursor: pointer;
}

#page-home .content .contact-holder {
	text-align: center;
	font-size: 1.0em;
}

#page-home .content .contact-holder .contact-info{
	display: inline-block;
	/*text-align: left;*/
}

#page-home .contact-info .admin-info,
#page-home .contact-info .website-info {
	display: inline-block;
	vertical-align: top;
}

#page-home .contact-info .admin-info {
	/*margin-right: 50px;*/
}

#page-home .contact-info .website-info {

}

/**** general ****/
#login-form {

}
.login-btn {

}

.rememberMe {
	margin-bottom: 10px !important;
}

.forgot-pass-btn {
	font-size: 1.3em;
	margin-bottom: 20px !important;
}

/**** create fighte ****/
#create-fighter {

}

#create-fighter .input-holder {
	margin: 10px 0px 20px 0px;
}

#create-fighter .input-holder .input-wiki-link {
	width: 50%;
}

#create-fighter .submit-btn-row {
	margin-bottom: 20px;
}

#create-fighter .create-fighter-output {
	max-height: 300px;
	overflow-y:auto;
}


/**** page: make your picks ****/
.make-pick-page {
	position: relative;
	top: 0px;
}

.event-section {
	margin-bottom: 50px;
}

/* FIXME: For last child to work apply to parent */
.make-pick-page:nth-child(2){
	margin-bottom: 0px;
}

/*.alert {*/
	/*position: fixed !important;*/
	/*top: 0px;*/
	/*left: 0;*/
	/*width: 100%;*/
	/*z-index: 10000;*/
/*}*/

.event-section .matchup .fighter-name {
	cursor: pointer;
}

#make-pick.btn {
	position: relative;
	margin-bottom: 20px;
}

/**** viewpicks ****/
#content .viewpick-section {

}

#content .viewpick-section .viewpick-title  {
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 20px;
	background-color: khaki;
	padding: 10px 10px 10px 10px;
}

#content .viewpick-section .user-name {
	font-size: 1.0em;
}

#content .viewpick-section .user-name .first-name,
#content .viewpick-section .user-name .last-name{
	display: inline-block;
}

#content .viewpick-section .fighter-names {
	margin-bottom: 20px;
}

#content .viewpick-section .fighter-names .fighter-name {
	font-size: 1.5em;
	font-weight: bold;
}
#content .fighter-name .first-name,
#content .fighter-name .last-name {
	display: inline-block;
}

#content .viewpick-section .fighter-names .finish {
	font-size: 0.7em;
	margin-bottom: 5px;
}

/**** fighter matchup widget ****/
#content {
	position: relative;
}

/**** event section ****/
#content .event-section {}
#content .event-section .event-title-holder {
	margin-bottom: 20px;
	background-color: khaki;
	padding: 10px 10px 10px 10px;
}

#content .event-section .event-title-holder .event-title {
	font-size: 2em;
	font-weight: bold;
}

#content .event-section .event-title-holder .event-location {
	font-size: 1.2em;
	font-weight: bold;
}

#content .event-section .matchup-container {

}
#content .event-section .matchup {
	display: block;
	margin-bottom: 20px;
}
#content .event-section .matchup .matchup-titles {
	display: inline-block;
	font-size: 1em;
	line-height: 1em;
	font-weight: bold;
}

/**** matchup-result-actions ****/
#content .event-section .matchup-result-actions {
	margin: 10px 0 10px 0;
}

#content .event-section .matchup-result-actions .action {
	margin: 0 5px;
	padding: 5px 10px;
	min-width: 100px;
}

#content .event-section .matchup-result {
	font-size: 1.1em;
	font-weight: bold;
}

#content .event-section .matchup .fighter-name {
	display: inline;
	font-size: 1.8em;
}
#content .event-section .matchup .fighter-name.winner,
#content .event-section .matchup .fighter-name.selected {
	color: #fffbff;
	font-weight: bold;
	background-color: #ff7300;
	padding: 4px;
	line-height: 1em;
}
/**** page: make ****/

/**** page: results ****/
#results-page {

}
#results-page .event-section .event-title-holder {
	cursor: pointer;
}

/**** table view ****/
#results-page .event-section .table-view {
	position: relative;
	display: inline-block;
	margin: 0px auto 50px auto;
	/*margin: -50px auto 50px auto;*/
	width: 100%;
	text-align: center;
}

.table-view .view-section.active {
	display: block;
}

.table-view .view-section {
	display: none;
}

/*.table-view .user-picks-title {
	font-size: 1.3em;
	font-weight: bold;
}*/

/**** user pick ****/
.table-view .user-pick {
	margin: 5px 0px;
}
.table-view .user-pick:nth-child(even) {
	/*font-weight: bold;*/
	background-color: #d8ebf2;
}

.user-name-holder {
	display: inline-block;
	padding: 10px;
}

.user-name-holder .user-follow-btn {
	margin-right: 10px;
	min-width: 0;
	padding: 2px 5px;
}

.user-name-holder .user-name,
.user-name-holder .user-selected-fighter,
.user-name-holder .user-win-col,
.user-name-holder .user-tb-round,
.user-name-holder .user-tb-finishtype,
.user-name-holder .user-tb-points {
	display: inline-block;
	/*width: 150px;*/
	text-align: left;
	min-width: 110px;
	margin-right: 30px;
}

.user-name-holder .user-name {
}

.user-name-holder .user-selected-fighter {
}

.user-name-holder .user-win-col {
}

/**** page: current standings ****/
#result-standings-grid {

}

#result-standings-grid tbody {
	text-align: left;
}

/**** errors ****/
.error_friendly {
	margin-top: 20px;
	font-size: 2.2em;
	line-height: 1em;
	width: 100%;
	text-align: center;
}

.errorSummary {
	margin-bottom: 20px;
	font-size: 1.5em;
	line-height: 1.0em;
}

.errorSummary p {
	color: maroon;
	font-weight: bold;
}

.errorSummary ul {

}

.errorSummary ul li {
}

/**** helpers  ****/
.remove {
	display: none;
}

/*.hide {
	visibility: hidden;
}*/

.border {
	border: 1px solid orange;
}

.opacity-hide {
	visibility: hidden;
}

/**** media queries ****/
@media (max-width: 480px) {
	#content .event-section .matchup .fighter-name {
		/*display: block;*/
		font-size: 1.3em;
		margin: .3em;
	}

	#content .event-section .event-title {
		font-size: 1.5em;
		font-weight: bold;
		margin-bottom: 20px;
	}


	.user-name-holder .user-name,
	.user-name-holder .user-selected-fighter,
	.user-name-holder .user-win-col,
	.user-name-holder .user-tb-round,
	.user-name-holder .user-tb-finishtype,
	.user-name-holder .user-tb-points {
		display: block;
		width: 100%;
	}

	.user-name-holder {
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 480px) {
	#content .event-section .matchup .fighter-name {
		/*display: block;*/
		font-size: 1.0em;
		margin: .3em;
	}

	#content .event-section .event-title {
		font-size: 1.3em;
		font-weight: bold;
		margin-bottom: 20px;
	}
}