<div id="result-admin" class="container" layout="column">
    <div class="row">
        <div class="col-sm-12">
            <h4 class="title" ng-bind="vm.title"></h4>
            <div ng-hide="vm.user.isGuest" class="actions-container text-center row">
                <md-button class="btn btn-primary btn-submit blue col-xs-10 col-sm-3 clear-float" ui-sref="result.create">Create</md-button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <md-content>
                <md-input-container>
                    <input ng-model="resultSearch.$" placeholder="Search">
                </md-input-container>

                <md-card>
                    <md-table-container>
                        <table md-table md-progress="vm.promise">
                            <thead md-head md-order="vm.query.order" md-on-reorder="vm.logOrder">
                            <tr md-row>
                                <th md-column md-order-by="fighterName"><span>Name</span></th>
                                <th md-column md-numeric md-order-by="round"><span>Round</span></th>
                                <th md-column md-order-by="finishType"><span>Finish Type</span></th>
                                <th md-column md-order-by="event"><span>Event</span></th>
                                <th md-column><span>Actions</span></th>
                            </tr>
                            </thead>
                            <tbody md-body>
                            <tr md-row md-select="result"
                                md-on-select="vm.logItem"
                                md-auto-select="vm.options.autoSelect"
                                ng-repeat="result in vm.resultList | filter:resultSearch | orderBy: vm.query.order | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit">

                                <td md-cell>{{result.fighterName}}</td>
                                <td md-cell>{{result.round}}</td>
                                <td md-cell>{{result.finishType}}</td>
                                <td md-cell>{{result.event}}</td>
                                <td md-cell>
                                    <a ui-sref="result.update({id: result.id})" class="icon-link icon-link-edit">
                                        <ng-md-icon icon="mode_edit"></ng-md-icon>
                                    </a>
                                    <a class="icon-link icon-link-delete" ng-click="vm.showConfirm($event, result.id)">
                                        <ng-md-icon icon="delete"></ng-md-icon>
                                    </a>
                                    <!--<ng-md-icon icon="delete"></ng-md-icon>-->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </md-table-container>

                    <md-table-pagination
                            md-limit="vm.query.limit"
                            md-page="vm.query.page"
                            md-total="{{vm.resultListCount}}"
                            md-on-paginate="vm.logPagination"></md-table-pagination>
                </md-card>
            </md-content>
        </div>
    </div>
</div>