<div id="standings-container" class="container">
    <div class="row">
        <div class="col-sm-12 container-body">
            <h4 class="title" ng-bind="vm.title"></h4>

            <div ng-if="vm.isLoading" class="pre-load-container text-center">
                <i class='glyphicon glyphicon-repeat medium spin'></i>
            </div>

            <div ng-if="!vm.isLoading" class="row">
                <div class="col-sm-12">
                    <md-content>
                        <!--<md-input-container>
                            <input ng-model="resultSearch.$" placeholder="Search">
                        </md-input-container>-->

                        <md-card>
                            <md-table-container>
                                <table md-table md-progress="vm.promise">
                                    <thead md-head md-order="vm.query.order" md-on-reorder="vm.logOrder">
                                    <tr md-row>
                                        <th md-column>Rank</th>
                                        <th md-column>Name</th>
                                        <th md-column>Wins</th>
                                        <th md-column>Loss</th>
                                        <th md-column>Tiebreaker</th>
                                    </tr>
                                    </thead>

                                    <tbody md-body>
                                    <tr md-row md-select="result"
                                        md-on-select="vm.logItem"
                                        md-auto-select="vm.options.autoSelect"
                                        ng-repeat="result in vm.resultList |
                                            filter:resultSearch |
                                            orderBy: vm.query.order |
                                            limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit">

                                        <td md-cell>{{$index + 1}}</td>
                                        <td md-cell>{{result.fullName}}</td>
                                        <td md-cell>{{result.winCount}}</td>
                                        <td md-cell>{{result.lossCount}}</td>
                                        <td md-cell>{{result.tiebreakerCount}}</td>
                                    </tr>
                                    </tbody>

                                </table>
                            </md-table-container>

                            <md-table-pagination
                                    md-limit="vm.query.limit"
                                    md-page="vm.query.page"
                                    md-total="{{vm.resultListCount}}"
                                    md-on-paginate="vm.logPagination"></md-table-pagination>
                        </md-card>
                    </md-content>
                </div>
            </div>
        </div>
    </div>
</div>