<div id="event-list-container" class="container">
    <div class="row">
        <div class="col-sm-12 container-body">
            <h4 class="title" ng-bind="vm.title"></h4>
            <div class="list-container">
                <div class="event-item list-item" ui-sref="event.item({id: event.id})" ng-repeat="event in vm.eventList">
                    <div ng-repeat="(key, value) in event">
                        <div class="event-item-{{key}}"><strong>{{key}}:&nbsp;</strong>{{value}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>