<div id="event-admin" class="container" layout="column">
    <div class="row">
        <div class="col-sm-12">
            <h4 class="title" ng-bind="vm.title"></h4>
            <div ng-hide="vm.user.isGuest" class="actions-container text-center row">
                <!--<md-button class="btn btn-primary btn-submit blue col-xs-10 col-sm-3 clear-float" ui-sref="event.list">List</md-button>-->
                <md-button class="btn btn-primary btn-submit blue col-xs-10 col-sm-3 clear-float" ui-sref="event.create">Create</md-button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <md-content>
                <md-input-container>
                    <input ng-model="resultSearch.$" placeholder="Search">
                </md-input-container>

                <md-card>
                    <md-table-container>
                        <table md-table md-progress="vm.promise">
                            <thead md-head md-order="vm.query.order">
                            <tr md-row>
                                <th md-column md-order-by="id"><span>ID</span></th>
                                <th md-column md-numeric md-order-by="name"><span>Name</span></th>
                                <th md-column md-order-by="date"><span>Date</span></th>
                                <th md-column md-order-by="location"><span>Location</span></th>
                                <th md-column md-order-by="status"><span>Status</span></th>
                                <th md-column md-order-by="mobileUrl"><span>Mobile URL</span></th>
                                <th md-column md-order-by="numMainEventFights"><span>Main Fights</span></th>
                                <th md-column md-order-by="simpleTime"><span>Time</span></th>
                                <th md-column><span>Actions</span></th>
                            </tr>
                            </thead>
                            <tbody md-body>
                            <tr md-row md-select="result"
                                md-auto-select="vm.options.autoSelect"
                                ng-repeat="event in vm.eventList | filter:resultSearch | orderBy: vm.query.order | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit">

                                <td md-cell>{{event.id}}</td>
                                <td md-cell>{{event.name}}</td>
                                <td md-cell>{{event.date}}</td>
                                <td md-cell>{{event.location}}</td>
                                <td md-cell>{{event.status}}</td>
                                <td md-cell>{{event.mobileUrl}}</td>
                                <td md-cell>{{event.numMainEventFights}}</td>
                                <td md-cell>{{event.simpleTime}}</td>

                                <td md-cell>
                                    <a ui-sref="event.edit({id: event.id})" class="icon-link icon-link-edit">
                                        <ng-md-icon icon="mode_edit"></ng-md-icon>
                                    </a>
                                    <a class="icon-link icon-link-delete" ng-click="vm.showConfirm($event, event.id)">
                                        <ng-md-icon icon="delete"></ng-md-icon>
                                    </a>
                                    <!--<ng-md-icon icon="delete"></ng-md-icon>-->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </md-table-container>

                    <md-table-pagination
                            md-limit="vm.query.limit"
                            md-page="vm.query.page"
                            md-total="{{vm.eventListCount}}"></md-table-pagination>
                </md-card>
            </md-content>
        </div>
    </div>
</div>