<div class="event-item"
     ng-class="{disabled: vm.event.event.status == 0}"
     ng-disabled="vm.event.event.status == 0">

    <div class="event-header text-center" ng-click="vm.toggleMatchupDisplay()">
        <h4 class="event-name title" ng-bind="vm.event.event.name"></h4>
        <div class="subtitle text-center">
            <span class="event-date" ng-bind="vm.event.event.date | filterDate:'MM/dd/yyyy'"></span>
            <span class="event-simple-time">&nbsp;@{{vm.event.event.simpleTime}}</span>
            <div class="event-location" ng-bind="vm.event.event.location"></div>
        </div>
    </div>

    <div ng-if="vm.displayMatchup === true" class="event-item-body-container">
        <div class="matchup-container text-center">
            <div class="matchup" ng-repeat="matchup in vm.event.matchup">
                <div class="fighter-names-container">
                    <md-button class="fighter-name col-xs-12 col-sm-5 clear-float"
                               ng-class="{selected: matchup.selectedFighterID == matchup.fighter1ID}"
                               ng-bind="matchup.fighter1FullName"
                               aria-label="Test Aria"
                               md-ink-ripple="#fff"
                               ng-click="vm.mapToMatchup(matchup, 'selectedFighterID', matchup.fighter1ID);
                                                   vm.mapToMatchup(matchup, 'selectedFighterName', matchup.fighter1FullName)">
                    </md-button>
                    <span class="vs col-xs-12 col-sm-1 clear-float"> vs </span>
                    <md-button class="fighter-name col-xs-12 col-sm-5 clear-float"
                               ng-class="{selected: matchup.selectedFighterID == matchup.fighter2ID}"
                               ng-bind="matchup.fighter2FullName"
                               aria-label="Test Aria"
                               md-ink-ripple="#fff"
                               ng-click="vm.mapToMatchup(matchup, 'selectedFighterID', matchup.fighter2ID);
                                                  vm.mapToMatchup(matchup, 'selectedFighterName', matchup.fighter2FullName)">
                    </md-button>
                </div>
                <div ng-if="matchup.hasTiebreaker === '1'" class="tiebreaker-container">
                    <div id="select-round-group" class="group-type-radio form-group">
                        <div class="form-label">Select Round:</div>
                        <md-radio-group ng-model="matchup.selectedRoundID">
                            <md-radio-button value="{{round.value}}"
                                             ng-click="vm.mapToMatchup(matchup, 'selectedRoundName', round.name);"
                                             ng-repeat="round in vm.roundList">{{round.name}}</md-radio-button>
                        </md-radio-group>
                    </div>
                    <div id="select-finish-method-group" class="group-type-radio form-group">
                        <div class="form-label">Select Finish Method:</div>
                        <md-radio-group ng-model="matchup.selectedFinishTypeID">
                            <md-radio-button value="{{method.value}}"
                                             ng-click="vm.mapToMatchup(matchup, 'selectedFinishTypeName', method.name);"
                                             ng-repeat="method in vm.finishMethodList">{{method.name}}</md-radio-button>
                        </md-radio-group>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions-container text-center">
            <md-button class="btn btn-primary btn-submit blue col-xs-10 col-sm-3 clear-float"
                       ng-class="{disabled: vm.requestInProgress === true}"
                       ng-disabled="vm.requestInProgress === true"
                       ng-click="vm.handleSubmit(vm.event)">Submit</md-button>
        </div>
    </div>
</div>