.event-item {
    margin-bottom: 4em;

    &.disabled {
        .event-header {
            cursor: default;
            opacity: .5;
            pointer-events: none;
        }
    }

    .event-header {
        padding: 2%;
        font-size: .6em;
        background: #efefef;

        .subtitle {
            font-size: 1.8em;
        }
    }
}