<div id="user-create" class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 container-body">
            <h4 class="title" ng-bind="vm.title"></h4>

            <form name="vm.form.userForm" ng-submit="vm.submitForm(vm.form.userForm.$valid)" novalidate>
                <md-input-container class="form-group">
                    <label>First Name</label>
                    <input required name="firstname" ng-model="vm.user.firstname">
                    <div ng-messages="vm.form.userForm.firstname.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>

                <md-input-container class="form-group">
                    <label>Last Name</label>
                    <input required name="lastname" ng-model="vm.user.lastname">
                    <div ng-messages="vm.form.userForm.lastname.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>

                <md-input-container class="form-group">
                    <input name="username" ng-model="vm.user.username" placeholder="Username" required>
                    <div ng-messages="vm.form.userForm.username.$error">
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>

                <md-input-container class="form-group">
                    <label>Email</label>
                    <input required type="email" name="email" ng-model="vm.user.email"
                           minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                    <div ng-messages="vm.form.userForm.email.$error" role="alert">
                        <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                            Your email must be between 10 and 100 characters long and look like an e-mail address.
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="form-group">
                    <input type="password" name="password" ng-model="vm.user.password" placeholder="Password" required>
                    <div ng-messages="vm.form.userForm.password.$error">
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>

                <div class="actions-container text-center form-group">
                    <button type="submit" class="btn btn-primary blue" ng-disabled="vm.updating">{{vm.user.id ? 'Update' : 'Signup'}}</button>
                </div>
            </form>
        </div>

    </div>
</div>