<div id="matchup-form" class="container">
    <div class="row">
        <div class="xs-col-12 container-body">
            <h4 class="title" ng-bind="vm.title"></h4>
            <form name="vm.form.matchupForm">
                <div id="select-fighter-1-container" class="form-group">
                    <md-input-container>
                        <input ng-model="fighter1Search.$" placeholder="Click To Search">
                    </md-input-container>
                    <md-select ng-model="vm.matchup.fighter1Id"
                               ng-model-options="{trackBy: '$value'}"
                               aria-label="Select Fighter"
                               placeholder="Select Fighter" required>
                        <md-option ng-value="fighter.id"
                                   ng-repeat="fighter in (vm.filteredFighter1List = (vm.fighterList | filter:fighter1Search))">
                            {{fighter.lastName}},&nbsp;{{fighter.firstName}}
                        </md-option>
                    </md-select>
                </div>
                <div id="select-fighter-2-container" class="form-group">
                    <md-input-container>
                        <input ng-model="fighter2Search.$" placeholder="Click To Search">
                    </md-input-container>
                    <md-select ng-model="vm.matchup.fighter2Id"
                               ng-model-options="{trackBy: '$value'}"
                               aria-label="Select Fighter"
                               placeholder="Select Fighter" required>
                        <md-option ng-value="fighter.id"
                                   ng-repeat="fighter in (vm.filteredFighter2List = (vm.fighterList | filter:fighter2Search))">
                            {{fighter.lastName}},&nbsp;{{fighter.firstName}}
                        </md-option>
                    </md-select>
                </div>
                <div id="select-event-container" class="form-group">
                    <md-input-container>
                        <input ng-model="eventSearch.$" placeholder="Click To Search">
                    </md-input-container>
                    <md-select ng-model="vm.matchup.eventId"
                               ng-model-options="{trackBy: '$value'}"
                               aria-label="Select Event"
                               placeholder="Select Event" required>
                        <md-option ng-value="event.id"
                                   ng-repeat="event in (vm.filteredEventList = (vm.eventList | filter:eventSearch))">
                            {{event.name}}
                        </md-option>
                    </md-select>
                </div>
                <div id="select-has-tiebreaker-container" class="form-group">
                    <label>Event Has Tiebreaker</label>
                    <md-select ng-model="vm.matchup.hasTiebreaker"
                               ng-model-options="{trackBy: '$value'}"
                               aria-label="Event Has Tiebreakert"
                               placeholder="">
                        <md-option ng-value="0">False</md-option>
                        <md-option ng-value="1">True</md-option>
                    </md-select>
                </div>
                <div class="actions-container text-center form-group">
                    <button type="submit" class="btn btn-primary blue" ng-click="vm.save()">{{vm.matchup.id ? 'Update' : 'Create'}}</button>
                </div>
            </form>
        </div>
    </div>
</div>