<div id="matchup-item-container" class="container">
    <div class="row">
        <div class="col-sm-12 container-body">
            <h4 class="title" ng-bind="vm.title"></h4>

            <div>
                <div ng-repeat="(key, value) in vm.matchup">
                    <div class="item-{{key}}"><strong>{{key}}:&nbsp;</strong>{{value}}</div>
                </div>
            </div>
        </div>
    </div>
</div>