<div id="auto-container" class="container">
    <div class="row">
        <div class="col-sm-12 container-body">
            <h4 class="title" ng-bind="vm.title"></h4>
            <form name="vm.form.autoParseEvent" novalidate>
                <div id="select-event-type" class="group-type-radio form-group">
                    <div class="form-label">Select New or Existing Event:</div>
                    <md-radio-group ng-model="vm.data.type" ng-change="vm.handleEventTypeChange()">
                        <md-radio-button ng-value="vm.EVENT.NEW">New Event</md-radio-button>
                        <md-radio-button ng-value="vm.EVENT.EXISTING">Existing Event</md-radio-button>
                    </md-radio-group>
                </div>

                <md-input-container class="form-group">
                    <label>Mobile UFC Event URL</label>
                    <input required type="text" name="mobileUrl" ng-model="vm.mobileUrl" placeholder="http://m.ufc.com/event/"/>
                    <div ng-messages="vm.form.autoParseEvent.mobileUrl.$error" role="alert">
                        <div ng-message-exp="['required']">
                            You must enter a URL
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="form-group">
                    <label>Number of Main Event Matchups</label>
                    <input required type="text" name="mobileNumMainMatchups" ng-model="vm.numMainMatchups" placeholder="1"/>
                    <div ng-messages="vm.form.autoParseEvent.mobileNumMainMatchups.$error" role="alert">
                        <div ng-message-exp="['required']">
                            You must enter a value
                        </div>
                    </div>
                </md-input-container>

                <div class="actions-container text-center">
                    <button type="submit"
                            class="btn btn-primary blue"
                            ng-click="vm.submitForm(vm.form.autoParseEvent.$valid)"
                            ng-disabled="vm.form.autoParseEvent.$invalid">Auto Create</button>
                </div>

                <div ng-show="vm.formState.displaySelectEvent" id="select-event-container" class="component-dropdown form-group">
                    <md-input-container>
                        <input ng-model="eventSearch.$" placeholder="Search Event">
                    </md-input-container>
                    <md-select ng-model="vm.data.eventId"
                               ng-model-options="{trackBy: '$value'}"
                               aria-label="Select Event"
                               placeholder="Select Event"
                               ng-change="vm.handleEventChange()">
                        <md-option ng-value="event.id"
                                   ng-repeat="event in (vm.filteredEventList = (vm.eventList | filter:eventSearch))">
                            {{event.name}}
                        </md-option>
                    </md-select>
                </div>
            </form>

            <div id="auto-output" class="auto-output"></div>
        </div>
    </div>
</div>