<div id="result-create" class="container">
    <div class="row">
        <div id="result-create-content-container" class="col-xs-12 col-sm-9 col-sm-offset-1 container-body">
            <h4 class="title fluid" ng-bind="vm.title"></h4>

            <div ng-if="vm.isLoading" class="pre-load-container text-center">
                <i class='glyphicon glyphicon-repeat medium spin'></i>
            </div>

            <form ng-if="!vm.isLoading" name="vm.form.resultForm" class="form-container">
                <div id="select-fighter-container" class="form-group">
                    <!-- todo: add search icon -->
                    <!--<ng-md-icon icon="search"></ng-md-icon>-->
                    <md-input-container>
                        <input ng-model="fighterSearch.$" placeholder="Select Fighter">
                    </md-input-container>
                    <md-select ng-model="vm.result.selectedFighterID"
                               ng-model-options="{trackBy: '$value'}"
                               aria-label="Select Fighter"
                               placeholder="">
                        <md-option ng-value="fighter.id"
                                   ng-repeat="fighter in (vm.filteredFighterList = (vm.fighterList | filter:fighterSearch))">
                            {{fighter.lastName}},&nbsp;{{fighter.firstName}}
                        </md-option>
                    </md-select>
                </div>
                <div id="select-event-container" class="form-group">
                    <md-input-container>
                        <input type="text" ng-model="eventSearch.name" placeholder="Select Event"/>
                    </md-input-container>
                    <md-select ng-model="vm.result.selectedEventID"
                               ng-model-options="{trackBy: '$value'}"
                               aria-label="Select Event"
                               placeholder="">
                        <md-option ng-value="event.id"
                                   ng-repeat="event in (vm.filteredEventList = (vm.eventList | filter:eventSearch))">
                            {{event.name}}
                        </md-option>
                    </md-select>
                </div>
                <div id="select-round-group" class="group-type-radio form-group">
                    <div class="form-label">Select Round:</div>
                    <md-radio-group ng-model="vm.result.selectedRoundID" aria-label="Select Round">
                        <md-radio-button value="{{round.value}}" ng-repeat="round in vm.roundList">{{round.name}}</md-radio-button>
                    </md-radio-group>
                </div>
                <div id="select-finish-method-group" class="group-type-radio form-group">
                    <div class="form-label">Select Finish Method:</div>
                    <md-radio-group ng-model="vm.result.selectedFinishTypeID" aria-label="Select Finish Method">
                        <md-radio-button value="{{method.value}}" ng-repeat="method in vm.finishMethodList">{{method.name}}</md-radio-button>
                    </md-radio-group>
                </div>
                <div class="actions-container text-center">
                    <button class="btn btn-primary blue" ng-click="vm.handleSubmit(vm.result)" ng-class="{disabled: vm.isSaving}" ng-disabled="vm.isSaving">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>