<div id="event-create" class="container">
    <div class="row">
        <div class="xs-col-12 container-body">
            <h4 class="title" ng-bind="vm.title"></h4>

            <div ng-if="vm.isLoading" class="pre-load-container text-center">
                <i class='glyphicon glyphicon-repeat medium spin'></i>
            </div>

            <form ng-if="!vm.isLoading" name="vm.form.eventForm">
                <md-input-container>
                    <!--<label>Name</label>-->
                    <input name="name" ng-model="vm.event.name" placeholder="Name" required>
                    <div ng-messages="userForm.lastName.$error">
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <input name="location" ng-model="vm.event.location" placeholder="Location">
                </md-input-container>

                <md-input-container>
                    <input name="date" ng-model="vm.event.date" placeholder="Date">
                </md-input-container>

                <md-input-container>
                    <input name="mobileUrl" ng-model="vm.event.mobileUrl" placeholder="Mobile URL">
                </md-input-container>

                <md-input-container>
                    <input name="numMainEventFights" ng-model="vm.event.numMainEventFights" placeholder="Main Fights">
                </md-input-container>

                <!--<md-content>
                    <md-datepicker ng-model="vm.myDate" md-placeholder="Enter date"></md-datepicker>
                </md-content>-->

                <md-input-container>
                    <input name="status" ng-model="vm.event.status" placeholder="Status">
                </md-input-container>

                <md-input-container>
                    <input name="round" ng-model="vm.event.round" placeholder="Round">
                </md-input-container>

                <md-input-container>
                    <input name="simpleTime" ng-model="vm.event.simpleTime" placeholder="Time">
                </md-input-container>

                <div class="actions-container text-center form-group">
                    <button type="submit" class="btn btn-primary blue" ng-click="vm.save(vm.form.eventForm.$valid)">{{vm.event.id ? 'Update' : 'Create'}}</button>
                </div>
            </form>
        </div>

    </div>
</div>